/* .container2{ */
    /* display:grid;
    justify-content: center;
    grid-gap: .25em;
    grid-template-columns: repeat(auto-fit, 8em);
    border: 2px solid; */
/* } */
.dot {
    height: 5px;
    width: 5px;
    background-color: #0750F8;
    border-radius: 50%;
    display: inline-block;


}
.dot2 {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;


}
.social-buttons .dollar{
    position: absolute;
    height:100px;


}

.circle-def .fa{
    
    display:flex;
    color: #0750F8;
    
}
.circle-def{
    background-color: rgba(0, 128, 255, 0.123);
    display: inline-block;
    border: 1px solid rgba(99, 99, 99, 0.39);
    
    
}

.grid-container{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
       
}

.card{
    border: none;
}
.col-md-8{
    background-color: #0750F8;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

footer{
    background-color: #0750F8;
}

.container .button-1 .button-2 .button-3 .button-4{
    background-color: #0750F8;
}