    .credit-card-guy{
        border: solid gray 1px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-top: 75px;
        
    }
    .card-blue-3{
        background-color: #0850f8;
        text-align: center;
        color: white;
        border: solid #0850f8 2px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 60px;
    
    }
    .card-blue-3 h1{
    font-size: 173%;
    }




    .guys-list{
        font-size: 14px;
        
        text-align: left;
    }
    .guys-list h2{
        font-size:15px;
    }


    .button-credit{
        color: white;
        padding:6px;
        border:2px solid white;
        background-color: #0850f8;
        width: 50%;
        border-radius: 6px;
        text-align:center;
        margin-right: 200%;
        padding-bottom: 2px;
        padding-top:1px;
        font-size:17px;
        
        
    }
